{% extends 'patients_management/layouts/main_layout.html' %}
{% load heroicons %}

{% block page_title %}
    <h1 class="text-center text-3xl py-4">Mes patients</h1>
{% endblock %}

{% block content %}
    <ul class="py-4 flex flex-col gap-1 items-center">
        {% for patient in page_obj %}
            <li class="w-3/4 max-w-lg px-4 py-2 flex flex-nowrap justify-between items-center shadow-md rounded-sm">
                <div>
                    <h3 class="text-cyan-500">{{ patient.first_name | capfirst }} {{ patient.last_name | upper }}</h3>
                    {%  with item_style='flex flex-nowrap items-center gap-2 text-zinc-500' %}
                    <p class="{{ item_style }}">
                        {% heroicon_outline "envelope" size=16 %}<span class="text-sm">{{ patient.email }}</span>
                    </p>
                    <p class="{{ item_style }}">
                        {% heroicon_outline "map-pin" size=16 %}<span class="text-sm text-ellipsis">{{ patient.address }}</span>
                    </p>
                    {% endwith %}
                </div>
                <div class="flex flex-nowrap gap-2 justify-center items-center pl-2">
                    <button type="button" class="text-zinc-500 hover:text-cyan-400 duration-300">
                        {% heroicon_outline "pencil" size=18 %}
                    </button>
                    <button type="button" class="text-zinc-600 hover:text-red-600 duration-300">
                        {% heroicon_outline "trash" size=18 %}
                    </button>
                </div>
            </li>
        {% endfor %}

        <div class="pagination">
            <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; première</a>
                  <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
              {% endif %}

                <span class="current">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
              </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">suivante</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">dernière &raquo;</a>
                {% endif %}
            </span>
        </div>
    </ul>
{% endblock %}
