{% extends 'patients_management/layouts/main_layout.html' %}

{% block content %}
    {% if user.role == user.Role.PATIENT %}
        {% include 'patients_management/pages/index/contents/patient_content.html' %}
    {% elif user.role == user.Role.DOCTOR %}
        {% include 'patients_management/pages/index/contents/doctor_content.html' %}
    {% else %}
        <p>
            Seuls les patients et docteurs peuvent accéder aux fonctionnalités de l'application
        </p>
    {% endif %}
{% endblock %}