<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
<h1>Hello</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <p>
        <label for="address-autocomplete">Adresse</label>
        <select name="address-autocomplete" id="address-autocomplete" style="width: 100%;"></select>
    </p>

    <button type="submit">Submit</button>
</form>
<script>
     $(document).ready(function() {
             $('#address-autocomplete').select2({
                 placeholder: 'Votre adresse...',
                 ajax: {
                     url: '{% url "address_autocomplete" %}',
                     dataType: 'json',
                     delay: 250,
                     data: function (params) {
                         return {
                             q: params.term // search term
                         };
                     },
                     processResults: function (data) {
                         return {
                             results: data.results
                         };
                     },
                     cache: true
                 }
             });

             $('#address-autocomplete').on('select2:select', function (e) {
                 var data = e.params.data;
                 $('#id_street').val(data['street']);
                 $('#id_zip_code').val(data['zip_code']);
                 $('#id_city').val(data['city']);
             });
         });
</script>
</body>
</html>