<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patientèle</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'patients_management/css/styles.css' %}">
</head>
<body>
{% include 'patients_management/components/header.html' %}
<main class="relative w-full min-h-screen pt-24 pb-12 overflow-x-hidden flex-col items-center bg-cover bg-center bg-fixed"
      style="background-image: url({% static 'patients_management/img/background.jpg' %})">
    {% block page_title %}{% endblock %}
    {% block content %}{% endblock %}
</main>
<script src="https://unpkg.com/htmx.org@1.9.12"></script>
</body>
</html>