{% extends 'patients_management/layouts/glassmorphic_card.html' %}

{% block card_title %}
    <h2 class="text-xl text-white text-center font-medium pb-3 border-b-2 uppercase">
        Vous êtes :
    </h2>
{% endblock %}

{% block card_content %}
    <a href="{% url 'register_patient' %}" class="text-center bg-teal-500 py-2 uppercase text-white font-medium
            rounded-md hover:bg-teal-400 active:bg-teal-500 duration-200">un patient</a>
    <a href="{% url 'register_doctor' %}" class="text-center bg-cyan-500 py-2 uppercase text-white font-medium
            rounded-md hover:bg-cyan-400 active:bg-cyan-500 duration-200">un médecin</a>
    {% include 'patients_management/components/have_account_button.html' %}
{% endblock %}